


<mat-card class="home mat-elevation-z3" style="text-align: center;">


    <mat-card-title> Cadastro </mat-card-title>
    <mat-card-subtitle> Alguns recursos do material não estavam funcionando nesta página... Não consegui usar o estilo desejado nos campos de input. </mat-card-subtitle>



    <form>

        <div  class="divExtended"style="width: 100%; max-width: 600px; text-align: center;">
            <input  class="inputField"  placeholder="Nome" [(ngModel)]="dummyData.Name" name="" >
        </div>

        <div  class="divExtended" style="width: 100%;max-width: 600px;  text-align: center;"  >
            <input  class="inputField"  placeholder="Idade" [(ngModel)]="dummyData.Age" name="" >
        </div>

        <div  class="divExtended" style="width: 100%;max-width: 600px;  text-align: center;"  >
            <input  class="inputField"  placeholder="Gênero" [(ngModel)]="dummyData.Gender" name="" >
        </div>

        <div  class="divExtended" style="width: 100%;max-width: 600px;  text-align: center;"  >
            <input  class="inputField"  placeholder="Email" [(ngModel)]="dummyData.Email" name="" >
        </div>

        <div  class="divExtended" style="width: 100%;max-width: 600px;  text-align: center;"  >
            <input  class="inputField"  placeholder="Número de celular" [(ngModel)]="dummyData.PhoneNumber" name="" >
        </div>

        <div  class="divExtended" style="width: 100%;max-width: 600px;  text-align: center;"  >
            <input  class="inputField"  placeholder="País de origem" [(ngModel)]="dummyData.CountryOfOrigin" name="" >
        </div>

        <div  class="divExtended" style="width: 100%;max-width: 600px;  text-align: center;"  >
            <input  class="inputField"  placeholder="Cidade de origem" [(ngModel)]="dummyData.CityOfOrigin" name="" >
        </div>


    </form>


    <button mat-raised-button (click)="DB_adddata()">Salvar</button>
    <br/>
    <button mat-raised-button (click)="GoTo_trnstn()">Cancelar</button>
    
    



</mat-card>