


<mat-card class="home mat-elevation-z3" style="text-align: center;">


    <mat-card-title> Cadastro </mat-card-title>
    <mat-card-subtitle> Sim, os campos de imput estão um pouco estranhos... Mas estão funcinando</mat-card-subtitle>



    <form>

        <mat-form-field style="width: 100%; max-width: 600px; text-align: center;">
            <input matInput placeholder="Nome" [(ngModel)]="dummyData.Name" name="" >
        </mat-form-field>

        <mat-form-field  style="width: 100%;max-width: 600px;  text-align: center;"  >
            <input matInput placeholder="Idade" [(ngModel)]="dummyData.Age" name="" >
        </mat-form-field>

        <mat-form-field  style="width: 100%;max-width: 600px;  text-align: center;"  >
            <input matInput placeholder="Gênero" [(ngModel)]="dummyData.Gender" name="" >
        </mat-form-field>

        <mat-form-field  style="width: 100%;max-width: 600px;  text-align: center;"  >
            <input matInput placeholder="Email" [(ngModel)]="dummyData.Email" name="" >
        </mat-form-field>

        <mat-form-field  style="width: 100%;max-width: 600px;  text-align: center;"  >
            <input matInput placeholder="Número de celular" [(ngModel)]="dummyData.PhoneNumber" name="" >
        </mat-form-field>

        <mat-form-field  style="width: 100%;max-width: 600px;  text-align: center;"  >
            <input matInput placeholder="País de origem" [(ngModel)]="dummyData.CountryOfOrigin" name="" >
        </mat-form-field>

        <mat-form-field  style="width: 100%;max-width: 600px;  text-align: center;"  >
            <input matInput placeholder="Cidade de origem" [(ngModel)]="dummyData.CityOfOrigin" name="" >
        </mat-form-field>


    </form>


    <button mat-raised-button (click)="DB_adddata()">Salvar</button>
    <br/>
    <button mat-raised-button (click)="GoTo_trnstn()">Cancelar</button>
    
    



</mat-card>