<mat-sidenav-container class="container">

    <mat-sidenav class="sidenav"
                 mode="side"
                 opened
                 fixedInViewport="true"
                 fixedToGap="64"
    >



        <mat-nav-list class="nav-list">

            <a mat-list-item>
                <i class="material-icons">home</i>
                Página inicial
            </a>

            <a mat-list-item>
                <i class="material-icons">new_releases</i>
                Realize seu cadastro
            </a>


        </mat-nav-list>



    </mat-sidenav>






</mat-sidenav-container>
