.logo{
    width: 65px;
    height: 65px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.logo-1{

    max-height: 65px;
    padding-top: 4px;
    padding-bottom: 4px;
}


.header{

    display: flex;
    align-items: center;

}

.header a {

    display: flex;
    align-items: center ;
    text-decoration: none;

}