<mat-toolbar class="header mat-elevation-z4">


<span style="width: 250px;">


</span>



<span>
    <a>
        <div class="logo-container">
            <img class="logo" src="../../../../assets/IMG/logo-2.png" style="width: 160px;">
        </div>
         
    </a>
</span>

<span style="width: 100pt; text-align: center;">

</span>


<span>

    Carnaval no Rio de Janeiro <i class="material-icons" style="transform: scale(0.8); vertical-align: text-bottom;">arrow_forward</i> Site Oficial

</span>

<!--
<span>
    <a>
        <i class="material-icons"> home </i>
        Menu principal
    </a>

        Qual que é a necessidade disso?

</span>
-->

</mat-toolbar>
